h1{
   padding: 5%; 
   text-align: center;
   line-height: 200px;
}
h6{
  text-align: center; 
  padding: 2%;  
}
h4{
   text-align: center; 
  padding: 2%; 
}
p{
  text-align: center;   
}
img{
    position: relative;
    left: 500px;
}
#cont3{
    color: white;
}