h1{
   padding: 5%; 
   text-align: center;
   line-height: 200px;
   font-family: 'Pangolin', cursive;
}
h6{
  text-align: center; 
  padding: 2%;  
}
h4{
   text-align: center; 
  padding: 2%; 
}
p{
  text-align: center;   
}
.img{
   height: auto;
   width: 175px;
   padding-top: 6%;
   padding-bottom: 6%;
   display: block;
}
#cont3{
    color: white;
}
form{
    opacity: 0.5;
    padding-bottom: 5%;
    margin: 50px;
}
#w1 ,#w2, #w3{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#footer{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.dlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project_title{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 175px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.col{
  position: relative;
  width: 50%;
  max-width: 300px;
  height: auto;
}
.col:hover .project_title{
  opacity: 1;
}